<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span class="glyphicon glyphicon-picture"></span>
                Fotografii.org: Popular Instagram Photos (Press F5 to get new...)
            </a>
        </div>
    </div>
</div>
